.head-list{
	height: 2.2rem;
	background-color: #21AA7D;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	.head_menu{
		height: 1.5rem;
		width: 1.5rem;
		background: url(../images/goback.png) no-repeat;
		background-size: cover;
		transform: translateY(50%);
		
		bottom: 50%;
		position: absolute;
		.head_listname{
			display: none;
			position: fixed;
			top: 2.2rem;
			left: 0;
			width: 100%;
			background-color: #fff;
			height: 100%;
			
		}
	}
	.icon_left{
	    left: 10px;
	}
	.icon_right{
	    right: 1rem;
	}
	
	
	.head_title{
		font-size: 0.85rem;
		width: 70%;
		text-align: center;
		line-height: 2.2rem;
		position: absolute;
		transform: translateX(50%);
		right: 50%;
		color: #fff;
		overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
	}

	
}
