
$base-blue-dark: #293E6A; 
$base-blue-mid: #3B5998; 
$base-blue-light: #639BF1; 
$base-green: #77BA9B; 
$base-brown: #B6A754; 

$font-white-light:#ffffff;
$font-white-mid:#e8e8e8;
$font-white-dark:#d4d4d4;

.head-list{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 2rem;
    font-size: 1rem;
    line-height: 1.6rem;
    text-indent: 0.5rem;
    background: $base-blue-dark;
    color: $font-white-light;
    z-index: 999;
    display: flex;
    span{
        flex-grow: 1;
        margin: 0.2rem;
        display: inline-block;
        font-size: 0.7rem;
    }
    .selected{
        background: $base-blue-light;
        border-radius: 0.2rem;
        color: #222222;
    }
}
