$base-blue-dark: #293E6A; 
$base-blue-mid: #3B5998; 
$base-blue-light: #639BF1; 
$base-blue-bit: #ccdbf3; 

$base-green: #77BA9B; 
$base-brown: #B6A754; 

$font-white-light:#ffffff;
$font-white-mid:#e8e8e8;
$font-white-dark:#d4d4d4;

.home-ul{
    padding-top: 2rem;
    background: $base-blue-bit;
    padding-bottom: 0.1rem;
}
.home-item{
    background: rgba(0,0,0,0.2);
    margin: .5rem;
    border-radius: .2rem;
    position: relative;
    height: 3rem;
    overflow: hidden;
}
.item-left{
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 0;
}
.item-avatar{
    width: 2rem;
    height: 2rem;
    margin: .5rem;
    border-radius: .2rem;
}
.item-count{
    height: 1rem;
    font-size: .6rem;
    line-height: 1rem;
}
.item-title{
    border-bottom: solid 1px rgba(0,0,0,0.2);
    font-size: .6rem;
    height: 1rem;
    text-overflow:ellipsis; 
    overflow:hidden; 
    white-space:nowrap; 
}
.item-right{
    font-size: 0.75rem;
    position: absolute;
    padding: 0.5rem;
    padding-left: 0;
    right: 0;
    height: 2rem;
    left: 3rem;
    top: 0;
    bottom: 0;
    white-space: pre-wrap;
    word-break: break-all;
    text-overflow: ellipsis;
}
