@keyframes myfirst
{
    0%   {transform: rotate(0)}
    100% {transform: rotate(360deg)}
}
@keyframes myfirst2
{
    0%   {transform: rotate(360deg)}
    100% {transform: rotate(0)}
}
.loading-wrap{
    position: absolute;
    transform: translate(50%, 50%);
    right: 50%;
    bottom: 50%;
    width: 3rem;
    height: 3rem;
}
.loading-1{
    width: 3rem;
    height: 3rem;
    background: url(../images/loading.png) no-repeat center;
    background-size: contain;
    animation:myfirst 1s infinite ease-in-out;
    -moz-animation:myfirst 1s infinite ease-in-out; 
    -webkit-animation:myfirst 1s infinite ease-in-out; 
    position: absolute;
}
.loading-2{
    width: 3rem;
    height: 3rem;
    background: url(../images/loading.png) no-repeat center;
    background-size: 70%;
    animation:myfirst2 1s infinite ease-in-out;
    -moz-animation:myfirst2 1s infinite ease-in-out; 
    -webkit-animation:myfirst2 1s infinite ease-in-out; 
    position: absolute;
}

.topbar{
    width: 100%;
    height: 2rem;
    background: #21AA7D;
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0;
}
.topbar-item{
    flex-grow: 1;
    line-height: 2rem;
   text-align: center;
   color: white;
}
.content_wrap{
    position: absolute;
    overflow: scroll;
    top: 2rem;
    right: 0;
    left: 0;
    bottom: 0;
}

.list{
    margin: 10px;
    height: 3.5rem;
    background: ghostwhite;
    position: relative;
    padding: .2rem;
}
.list-top{
    height: 2.3rem;
    background: lightblue;
    position: relative;
}
.list-bottom{
    margin-top: 0.2rem;
    height: 1rem;
    background: lightcoral;
}
.list-top-right{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 2.5rem;
    background: green;
}
.list-top-left{
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 4px;
}
.list-top-right-top{
    height: 1.3rem;
    font-size: 0.8rem;
    line-height: 1.3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list-top-right-bottom{
    margin-top: 0.2rem;
    height: 0.8rem;
    background: brown;
    font-size: 0.6rem;
    line-height: 0.8rem;
}
