.login-input{
    position: absolute;
    transform: translate(50%, 50%);
    z-index: 1010;
    right: 50%;
    bottom: 50%;
    width: 10rem;
    font-size: 0.7rem;
    height: 2rem;
    text-align: center;
    border-radius: 5px;
    border: solid 2px #21AA7D;
    
}
.login-tips{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 1rem;
    font-size: 0.8rem;
    color: darkgray;
}
.forlogin{
    top: 5rem;
}
